<h1>Anúncios</h1>

<div>
    <ul>
        <% @ads.each do |ad| %>
          <li>
            <p><%= link_to t("menu.edit"), edit_ad_path(ad)%></p>
            <p><strong><%= ad.title%></strong></p>
            <p><%= ad.description%></p>
            <p><%= ad.price%></p>
          </li>
        <% end %>
    </ul>
</div>